<div *ngIf='this.isDataLoading' class='loading-container' fxLayout='column' fxLayoutAlign='center center'>
  <mat-spinner color='accent'></mat-spinner>
</div>
<div *ngIf='!isDataLoading' class='page-container' fxLayout='column' fxLayoutAlign='start center'>
  <div *ngIf='isCreateView; then newToolTitle else editToolTitle'></div>
  <ng-template #newToolTitle>
    <h1>Create a new tool</h1>
  </ng-template>
  <ng-template #editToolTitle>
    <h1>
      {{tool.toolSource?.name}}
      <span *ngIf='!isCreateView'> ({{tool.identifier}})</span>
    </h1>
  </ng-template>

  <div class='button-bar' fxLayout='row' fxLayoutGap='12px'>
    <button *ngIf='isCreateView' mat-raised-button color='primary' [disabled]='!isCreateButtonActive()'
            (click)='createTool()'>
      <mat-icon>add</mat-icon>
      <span>Create</span>
    </button>
    <button *ngIf='!isCreateView' mat-raised-button color='primary' (click)='updateTool()'>
      <mat-icon>save</mat-icon>
      <span>Save</span>
    </button>
    <button mat-raised-button color='accent' (click)='accordion.openAll()'>
      <mat-icon>unfold_more</mat-icon>
      <span>Expand All</span>
    </button>
    <button mat-raised-button color='accent' (click)='accordion.closeAll()'>
      <mat-icon>unfold_less</mat-icon>
      <span>Collapse All</span>
    </button>
    <button *ngIf='!isCreateView' mat-raised-button color='warn' (click)='deleteTool()'>
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
    <button mat-raised-button color='warn' (click)='cancel()'>
      <mat-icon>clear</mat-icon>
      <span>Cancel</span>
    </button>
  </div>

  <mat-accordion multi>
    <mat-expansion-panel *ngIf='this.isCreateView' expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Source</h2>
        </mat-panel-title>
        <mat-panel-description>
          Add a source link for the tool.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
        <mat-form-field fxFlex appearance='fill'>
          <mat-label>Name</mat-label>
          <input matInput type='text' (input)='onChangeName($event)' [value]='nameInputValue'
                 [formControl]='nameFormControl'>
          <button *ngIf='nameInputValue' matSuffix mat-icon-button aria-label='Clear' (click)="nameInputValue=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance='fill'>
          <mat-label>Identifier (ID)</mat-label>
          <input matInput type='text' (input)='onChangeIdentifier($event)' [value]='identifierInputValue'
                 [formControl]='identifierFormControl'>
          <button *ngIf='identifierInputValue' matSuffix mat-icon-button aria-label='Clear'
                  (click)="identifierInputValue=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="identifierFormControl.hasError('required')">
            Identifier is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
        <mat-form-field fxFlex appearance='fill'>
          <mat-label>Author</mat-label>
          <input matInput type='text' (input)='onChangeAuthor($event)' [value]='authorInputValue'
                 [formControl]='authorFormControl'>
          <button *ngIf='authorInputValue' matSuffix mat-icon-button aria-label='Clear' (click)="authorInputValue=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="authorFormControl.hasError('required')">
            Author is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance='fill'>
          <mat-label>Link</mat-label>
          <input matInput type='text' (input)='onChangeLink($event)' [value]='linkInputValue'
                 [formControl]='linkFormControl'>
          <button *ngIf='linkInputValue' matSuffix mat-icon-button aria-label='Clear' (click)="linkInputValue=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="linkFormControl.hasError('url')">
            The link has to be a valid URL.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout='row' fxLayoutGap='30px'>
        <mat-form-field fxFlex appearance='fill'>
          <mat-label>Description</mat-label>
          <textarea matInput (input)='onChangeDescription($event)' [value]='descriptionInputValue'
                 [formControl]='descriptionFormControl' rows='4'></textarea>
          <button *ngIf='descriptionInputValue' matSuffix mat-icon-button aria-label='Clear' (click)="descriptionInputValue=''">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Types</h2>
        </mat-panel-title>
        <mat-panel-description>
          Define the types of the tool.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-connected-data-lists
        [sourceDataListTitle]="'Types'"
        [targetDataListTitle]="'Tool types'"
        [sourceDataList]='toolTypeSourceDataList'
        [targetDataList]='toolTypeTargetDataList'
        [attributeCreationActive]='true'
        [attributeDeletionActive]='true'
        (createAttribute)='attributeOptionsService.createToolTypeWithDialog()'
        (deleteAttribute)='attributeOptionsService.deleteToolTypeWithDialog()'>
      </app-connected-data-lists>
    </mat-expansion-panel>
  </mat-accordion>
</div>
