<div>
  <button mat-button matStepperPrevious>Back</button>
  <button mat-button matStepperNext>Next</button>
</div>
<mat-card-title>Scenarios</mat-card-title>
<mat-card class="scenarioCard">
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div
      class="example-box"
      *ngFor="let scenario of projectService.scenarios.value"
      [cdkDragData]="scenario"
      cdkDrag
    >
      <mat-form-field appearance="fill">
        <input matInput value="{{ scenario.name }}" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput value="{{ scenario.description }}" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Difficulty</mat-label>
        <mat-select>
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="B">C</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Importance</mat-label>
        <mat-select>
          <mat-option value="A">A</mat-option>
          <mat-option value="B">B</mat-option>
          <mat-option value="B">C</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="centerButton">
    <button mat-mini-fab class="attribute-button" color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>
