<div *ngIf='isDataLoading' class='loading-container' fxLayout='column' fxLayoutAlign='center center'>
  <mat-spinner color='accent'></mat-spinner>
</div>
<div *ngIf='!isDataLoading' fxLayout='column' fxLayoutAlign='start center' fxLayoutGap='32px' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' (click)='goBack()'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>
      {{refactoringApproach.approachSource?.title}} ({{refactoringApproach.identifier}})
    </span>
    <button mat-mini-fab *ngIf='!selectedRecommendation && permissionService.isAdmin'
            (click)='goToEdit()'>
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-mini-fab *ngIf='!selectedRecommendation && permissionService.isAdmin'
            color='warn'
            (click)='deleteRefactoringApproach()'>
      <mat-icon>delete</mat-icon>
    </button>
  </h1>
  <h2 *ngIf='selectedRecommendation'>
    <span>Overall Matches: </span>
    <span [class]='getSuitabilityColor()'>
      {{selectedRecommendation.matchesCount}}  / {{selectedRecommendation.totalIncludeCount}}
    </span>
  </h2>

  <mat-card>
    <mat-card-title>Source</mat-card-title>
    <mat-card-content *ngIf='refactoringApproach.approachSource'>
      <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Authors</h3>
        </div>
        <div fxFlex>
          <p>{{refactoringApproach.approachSource.authors}}</p>
        </div>
      </div>

      <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Year</h3>
        </div>
        <div fxFlex>
          <p>{{refactoringApproach.approachSource.year}}</p>
        </div>
      </div>

      <div *ngIf='refactoringApproach.approachSource.link' fxLayout='row'>
        <div fxFlex='25'>
          <h3>Link</h3>
        </div>
        <div class='link-wrapper' fxFlex>
          <a [href]='refactoringApproach.approachSource.link'
             target='_blank'>{{refactoringApproach.approachSource.link}}</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card style='width: 80%'>
    <mat-card-title>Inputs</mat-card-title>
    <mat-card-content>
      <div *ngIf='refactoringApproach.domainArtifactInputs && refactoringApproach.domainArtifactInputs.length > 0'
           fxLayout='row'>
        <div fxFlex='25'>
          <h3>Domain Artifacts</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let domainArtifact of refactoringApproach.domainArtifactInputs'>
            <p [class]='getDomainArtifactColor(domainArtifact)'><strong>{{domainArtifact.name}}</strong></p>
            <p *ngIf='domainArtifact.description'>
              {{domainArtifact.description}}
            </p>
          </div>
        </div>
      </div>

      <div *ngIf='refactoringApproach.runtimeArtifactInputs && refactoringApproach.runtimeArtifactInputs.length > 0'
           fxLayout='row'>
        <div fxFlex='25'>
          <h3>Runtime Artifacts</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let runtimeArtifact of refactoringApproach.runtimeArtifactInputs'>
            <p [class]='getRuntimeArtifactColor(runtimeArtifact)'><strong>{{runtimeArtifact.name}}</strong></p>
            <p *ngIf='runtimeArtifact.description'>
              {{runtimeArtifact.description}}
            </p>
          </div>
        </div>
      </div>

      <div *ngIf='refactoringApproach.modelArtifactInputs && refactoringApproach.modelArtifactInputs.length > 0'
           fxLayout='row'>
        <div fxFlex='25'>
          <h3>Model Artifacts</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let modelArtifact of refactoringApproach.modelArtifactInputs'>
            <p [class]='getModelArtifactColor(modelArtifact)'><strong>{{modelArtifact.name}}</strong></p>
            <p *ngIf='modelArtifact.description'>
              {{modelArtifact.description}}
            </p>
          </div>
        </div>
      </div>

      <div *ngIf='refactoringApproach.executableInputs && refactoringApproach.executableInputs.length > 0'
           fxLayout='row'>
        <div fxFlex='25'>
          <h3>Executables</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let executable of refactoringApproach.executableInputs'>
            <p [class]='getExecutableColor(executable)'><strong>{{executable.name}},
              Language: {{executable.language}}</strong></p>
            <p *ngIf='executable.description'>
              {{executable.description}}
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Process</mat-card-title>
    <mat-card-content *ngIf='refactoringApproach.approachProcess'>
      <div
        *ngIf='refactoringApproach.approachProcess.qualities && refactoringApproach.approachProcess.qualities.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Qualities</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let quality of refactoringApproach.approachProcess.qualities'>
            <p [class]='getQualityColor(quality)'><strong>{{quality.name}}</strong></p>
            <p *ngIf='quality.description'>
              {{quality.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.qualitySublevels && refactoringApproach.approachProcess.qualitySublevels.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Quality Sublevels</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let qualitySub of refactoringApproach.approachProcess.qualitySublevels'>
            <p [class]='getQualitySubColor(qualitySub)'><strong>{{qualitySub.name}} ({{qualitySub.qualityName}})</strong></p>
            <p *ngIf='qualitySub.description'>
              {{qualitySub.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.directions && refactoringApproach.approachProcess.directions.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Directions</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let direction of refactoringApproach.approachProcess.directions'>
            <p [class]='getDirectionColor(direction)'><strong>{{direction.name}}</strong></p>
            <p *ngIf='direction.description'>
              {{direction.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.automationLevels && refactoringApproach.approachProcess.automationLevels.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Automation levels</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let automationLevel of refactoringApproach.approachProcess.automationLevels'>
            <p [class]='getAutomationLevelColor(automationLevel)'><strong>{{automationLevel.name}}</strong></p>
            <p *ngIf='automationLevel.description'>
              {{automationLevel.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.analysisTypes && refactoringApproach.approachProcess.analysisTypes.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Analysis types</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let analysisType of refactoringApproach.approachProcess.analysisTypes'>
            <p [class]='getAnalysisTypeColor(analysisType)'><strong>{{analysisType.name}}</strong></p>
            <p *ngIf='analysisType.description'>
              {{analysisType.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.techniques && refactoringApproach.approachProcess.techniques.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Techniques</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let technique of refactoringApproach.approachProcess.techniques'>
            <p [class]='getTechniqueColor(technique)'><strong>{{technique.name}}</strong></p>
            <p *ngIf='technique.description'>
              {{technique.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.processStrategies && refactoringApproach.approachProcess.processStrategies.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Process Strategies</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let strategy of refactoringApproach.approachProcess.processStrategies'>
            <p [class]='getStrategyColor(strategy)'><strong>{{strategy.name}}</strong></p>
            <p *ngIf='strategy.description'>
              {{strategy.description}}
            </p>
          </div>
        </div>
      </div>

      <div
        *ngIf='refactoringApproach.approachProcess.atomarUnits && refactoringApproach.approachProcess.atomarUnits.length > 0'
        fxLayout='row'>
        <div fxFlex='25'>
          <h3>Atomar Units</h3>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let atomarUnit of refactoringApproach.approachProcess.atomarUnits'>
            <p [class]='getAtomarUnitColor(atomarUnit)'><strong>{{atomarUnit.name}}</strong></p>
            <p *ngIf='atomarUnit.description'>
              {{atomarUnit.description}}
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Outputs</mat-card-title>
    <mat-card-content>
      <div *ngIf='refactoringApproach.representationOutputs && refactoringApproach.representationOutputs.length > 0'
            fxLayout='row'>
            <div fxFlex='25'>
              <h3>Representations</h3>
            </div>
            <div fxFlex fxLayout='column'>
              <div *ngFor='let representation of refactoringApproach.representationOutputs'>
                <p [class]='getRepresentationColor(representation)'><strong>{{representation.name}}</strong></p>
                <p *ngIf='representation.description'>
                  {{representation.description}}
                </p>
              </div>
            </div>
      </div>
      <!-- <mat-card-content *ngIf='refactoringApproach.approachOutputs'></mat-card-content> -->
      <!-- <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Architecture</h3>
        </div>
        <div fxFlex='25'>
          <h3>Service type</h3>
        </div>
      </div>
      <div *ngFor='let output of outputMap | keyvalue' fxLayout='row'>
        <div fxFlex='25'>
          <p [class]='getArchitectureColor(output.value.architecture)'>
            <strong>{{output.value.architecture.name}}</strong>
          </p>
        </div>
        <div fxFlex fxLayout='column'>
          <div *ngFor='let serviceType of output.value.serviceTypes'>
            <p [class]='getServiceTypeColor(serviceType)'><strong>{{serviceType.name}}</strong></p>
            <p *ngIf='serviceType.description'>
              {{serviceType.description}}
            </p>
          </div>
        </div>
      </div> -->
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Usability</mat-card-title>
    <mat-card-content *ngIf='refactoringApproach.approachUsability'>
      <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Validation method</h3>
        </div>
        <div fxFlex>
          <p [class]='getValidationMethodColor(refactoringApproach.approachUsability.validationMethod)'>
            <strong>{{refactoringApproach.approachUsability.validationMethod.name}}</strong>
          </p>
          <p *ngIf='refactoringApproach.approachUsability.validationMethod.description'>
            {{refactoringApproach.approachUsability.validationMethod.description}}
          </p>
        </div>
      </div>

      <!-- <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Results quality</h3>
        </div>
        <div fxFlex>
          <p [class]='getResultsQualityColor(refactoringApproach.approachUsability.resultsQuality)'>
            <strong>{{refactoringApproach.approachUsability.resultsQuality.name}}</strong>
          </p>
          <p *ngIf='refactoringApproach.approachUsability.resultsQuality.description'>
            {{refactoringApproach.approachUsability.resultsQuality.description}}
          </p>
        </div>
      </div> -->

      <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Accuracy/Precision</h3>
        </div>
        <div fxFlex>
          <p [class]='getAccuracyPrecisionColor(refactoringApproach.approachUsability.accuracyPrecision)'>
            <strong>{{refactoringApproach.approachUsability.accuracyPrecision.name}}</strong>
          </p>
          <p *ngIf='refactoringApproach.approachUsability.accuracyPrecision.description'>
            {{refactoringApproach.approachUsability.accuracyPrecision.description}}
          </p>
        </div>
      </div>

      <div fxLayout='row'>
        <div fxFlex='25'>
          <h3>Tool support</h3>
        </div>
        <div fxFlex fxLayout="column">
          <p>
            <strong><i>{{refactoringApproach.approachUsability.noToolSupport ? "No" : "Yes"}}</i></strong>
          </p>
          <div *ngFor='let tool of refactoringApproach.approachUsability.tools'>
              <p>
                <strong>
                  <a [routerLink]="['/phase/2/tool', tool.toolId]" style="cursor: pointer;">
                    <strong>{{ tool.toolSource!.name }}</strong>
                  </a>
                </strong>
              </p>
              <p *ngIf='tool.toolSource!.description'>
                {{tool.toolSource!.description}}
              </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
