.mat-card {
  width: 80%;
}

h3 {
  margin: 8px 0;
}

p {
  margin: 8px 0;
}

.link-wrapper {
  margin: 8px 0;
}
//for table
table{
  width: 80%;
}

tr.approach-row {
  cursor: pointer;
}

tr.approach-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.approach-cell {
  padding: 8px 24px 8px 0;
}

.approach-cell:last-child {
  padding: 8px 8px 8px 0;
}
