/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon-2x {
  transform: scale(2);
  margin: 12px;
}

.icon-4x {
  transform: scale(4);
  margin: 36px;
}

.max-width-500 {
  max-width: 500px;
}

.loading-container {
  height: 100%;
}

.error-text {
  color: var(--color-warn);
  line-height: 24px;
  margin: 0 0 0 8px;
}

.suitability-high {
  color: #40ad3d;
}

.suitability-medium {
  color: #baba30;
}

.suitability-low {
  color: #ad3d3d;
}

.match-item {
  color: #40ad3d;
}

.mismatch-item {
  color: #ad3d3d;
}
