/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-container {
  height: calc(100% - 128px);
  margin: 32px;
}

.page-container {
  margin-bottom: 32px;
  width: 100%;
}

.icon-2x {
  transform: scale(2);
  margin: 12px;
}

.icon-4x {
  transform: scale(4);
  margin: 36px;
}

.max-width-800 {
  max-width: 800px;
}

.loading-container {
  height: 100%;
}

.error-text {
  color: var(--color-warn);
  line-height: 24px;
  margin: 0 0 0 8px;
}

.suitability-high {
  color: #40ad3d;
  padding: 8px 12px;
}

.suitability-medium {
  color: #baba30;
  padding: 8px 12px;
}

.suitability-low {
  color: #ad3d3d;
  padding: 8px 12px;
}

.score-very-high {
  color: #3cc238;
  padding: 8px 12px;
}

.score-high {
  color: #348b31;
  transform: rotate(45deg);
  padding: 8px 12px;
}

.score-medium {
  transform: rotate(90deg);
  padding: 8px 12px;
}

.score-low {
  color: #baba30;
  transform: rotate(135deg);
  padding: 8px 12px;
}

.score-very-low {
  color: #ad3d3d;
  transform: rotate(180deg);
  padding: 8px 12px;
}

.match-item {
  color: #40ad3d;
}

.mismatch-item {
  color: #ad3d3d;
}

.small-card {
  border-radius: 8px !important;
  padding: 8px !important;
}

.small-card-title {
  font-size: 16px !important;
}
.mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  //background-color: transparent !important;
  color: green;
  +.mat-step-label{
    color: green !important;
  }
}
.mat-step-header .mat-step-icon-selected{
  // background-color: $primary;
  background-color:  rgb(255, 255, 0);
  +.mat-step-label{
    color: rgb(0, 0, 0) !important;
  }
}
.mat-step-header {
  color: rgba(128, 128, 128, 0.54)
}
.mat-step-header  {
  color: rgba(128, 128, 128, 0.54);
  //background-color: transparent;
}
/* Change the color of the radio button's circle for the element with ID 'radio-2' */
#radio-2.mat-accent .mat-radio-outer-circle {
  border-color: yellow; /* Change border color */
}

/* Change the color of the radio button's ripple effect for the element with ID 'radio-2' */
#radio-2.mat-accent .mat-radio-inner-circle::after {
  background-color: yellow; /* Change ripple color */
}

/* Change the background color of the radio button when selected for the element with ID 'radio-2' */
#radio-2.mat-accent.mat-radio-checked .mat-radio-inner-circle {
  background-color: yellow; /* Change selected background color */
}

