/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon-2x {
  transform: scale(2);
  margin: 12px;
}

.icon-4x {
  transform: scale(4);
  margin: 36px;
}
