@import "../node_modules/@angular/material/theming";
@import "styles";

@include mat-core();

$theme-brown: mat-palette($mat-brown, 500);
$theme-grey: mat-palette($mat-grey, 500);

$light-theme-primary: mat-palette($mat-green, 400);
$light-theme-accent: mat-palette($mat-blue, A400);
$light-theme-warn: mat-palette($mat-red, 600);

$light-theme: mat-light-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

@include angular-material-theme($light-theme);

:root {
  --color-primary: #{mat-color($light-theme-primary)};
  --color-primary-lighter: #{mat-color($light-theme-primary, lighter)};
  --color-primary-darker: #{mat-color($light-theme-primary, darker)};
  --color-primary-50: #{mat-color($light-theme-primary, 0.5)};

  --color-accent: #{mat-color($light-theme-accent)};
  --color-accent-lighter: #{mat-color($light-theme-accent, lighter)};
  --color-accent-darker: #{mat-color($light-theme-accent, darker)};
  --color-accent-50: #{mat-color($light-theme-accent, 0.5)};

  --color-warn: #{mat-color($light-theme-warn)};
  --color-warn-lighter: #{mat-color($light-theme-warn, lighter)};
  --color-warn-darker: #{mat-color($light-theme-warn, darker)};
  --color-warn-50: #{mat-color($light-theme-warn, 0.5)};

  --color-brown: #{mat-color($theme-brown)};
  --color-brown-lighter: #{mat-color($theme-brown, lighter)};
  --color-brown-darker: #{mat-color($theme-brown, darker)};
  --color-brown-50: #{mat-color($theme-brown, 0.5)};

  --color-grey: #{mat-color($theme-grey)};
  --color-grey-lighter: #{mat-color($theme-grey, lighter)};
  --color-grey-darker: #{mat-color($theme-grey, darker)};

  --color-phase-2: #e0d5e6;
}
