<div fxLayout='column'>
  <div fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='8px'>
    <button mat-icon-button color='accent' (click)='onClickLeft()'>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <span>{{carouselIndex + 1}} / {{images.length}}</span>
    <button mat-icon-button color='accent' (click)='onClickRight()'>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class='progress-bar-background'>
    <div class='progress-bar' [@loading]="progress === 0 ? 'start' : 'end'"></div>
  </div>
  <div [style.width]='width' class='image-container'>
    <ng-container *ngFor='let image of images, let i = index'>
      <img *ngIf='carouselIndex === i' [@changeImage]='true' [src]='images[i]' [style.width]='width'>
    </ng-container>
  </div>
</div>
