<div fxLayout='column'>
  <div fxLayout='row' fxLayoutAlign='center center'>
    <button mat-icon-button color='accent' (click)='showPreciousImage()'>
      <mat-icon>arrow_back_ios_new</mat-icon>
    </button>
    <span style='margin: 3px 8px 0 8px'>{{carouselIndex + 1}} / {{images.length}}</span>
    <button *ngIf='!timerPaused' mat-icon-button color='accent' (click)='pauseCarousel()'>
      <mat-icon>pause</mat-icon>
    </button>
    <button *ngIf='timerPaused' mat-icon-button color='accent' (click)='resumeCarousel()'>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button color='accent' (click)='showNextImage()'>
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class='progress-bar-background'>
    <div class='progress-bar' [@loading]="progress === 0 ? 'start' : 'end'"></div>
  </div>
  <div [style.width]='width' class='image-container'>
    <ng-container *ngFor='let image of images, let i = index'>
      <img *ngIf='carouselIndex === i' [@changeImage]='true' [src]='images[i]' [style.width]='width'>
    </ng-container>
  </div>
</div>
