<div fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
  <p class='max-width-800'>
          This overview summarizes the specified scenarios regarding the architectural styles that can be used for their implementation (upper chart). As well, it summarizes the scenarios regarding their preferred architectural syle (lower chart).
          This summary, based on strategic goals, scenarios and related quality attributes provides the basis for a grounded decision for or against migrating the system towards a Microservices architecture.
          </p></div>
        <div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
          <button mat-flat-button matStepperPrevious color='accent'>
            <mat-icon>arrow_back</mat-icon>
            <span>Back</span>
          </button>
          <!--<button mat-flat-button matStepperNext color='accent'>
            <span>Next</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>-->
          <!--<button mat-raised-button color="primary" (click)="saveChanges()" ><span>Save Changes</span></button>[disabled]='!allNamesSet()' (click)="saveChanges()"-->
          <mat-divider vertical></mat-divider>
          <button mat-flat-button color='accent'[routerLink]="['/phase/2']"><!--</button> -->
            <mat-icon>move_down</mat-icon>
            <span> Skip to Phase 2</span>
          </button>
          <button mat-flat-button color='accent'[routerLink]="['/phase/3']"><!--</button> -->
            <mat-icon>move_down</mat-icon>
            <span> Skip to Phase 3</span>
          </button>
          </div>
          <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center">
            <mat-card class="strategicGoal-card" class="mat-elevation-z8">
              <mat-card-title>Quality Assessment Summary
                <button style="margin-left: 10px; margin-bottom: 10px" mat-mini-fab class="attribute-button" color="primary"
                  (click)="addEmptyStrategicGoals()">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-card-title>


              <div class="mat-elevation-z8" cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="strategicGoalsList">
                <ng-container *ngIf="strategicGoalsList.length > 0; else emptyStrategicGoalsList">
                  <div *ngFor="let strategicGoals of strategicGoalsList" [cdkDragData]="strategicGoalsList" cdkDragLockAxis="y"
                    cdkDragBoundary=".drop-list" cdkDrag (click)="strategicGoalsSelected(strategicGoalsList)" [ngClass]="{
                    'selected-drop-box': checkCurrentStrategicGoals(strategicGoalsList),
                    'drop-box': !checkCurrentStrategicGoals(strategicGoalsList)
                    }">



                      <div fxLayout="column"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->
                        <div fxLayout="row"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->

                        <!--<mat-form-field appearance="fill" >
                          <mat-label>Quality Assessment Summary</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.method" required />
                        </mat-form-field>-->

                        <!--<mat-radio-group aria-label="Select an option">
                          <mat-radio-button value="1">Scenario-based</mat-radio-button>
                          <mat-radio-button value="2">Metric-based</mat-radio-button>
                        </mat-radio-group>-->

                        </div>
                                    <h2>Result</h2>
                        <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->

                          <!--<mat-tab-group>-->


 <h2>Implementable using</h2>
                            <div fxLayout="row" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px">
                              <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->


                                <mat-form-field class="description-field" appearance="fill">
                                  <mat-label  label="Functionality">Monolith (current)</mat-label>
                                  <input matInput readonly="true" matInput [(ngModel)]="assessmentService.cumulatedimplementedPattern1" required />
                                </mat-form-field>
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Purpose">Microservices</mat-label>
                                <input matInput readonly="true" matInput [(ngModel)]="assessmentService.cumulatedimplementedPattern2" required />
                              </mat-form-field>
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Purpose">Other</mat-label>
                                <input matInput readonly="true" matInput [(ngModel)]="assessmentService.cumulatedimplementedPattern3" required />
                              </mat-form-field>
                              </div>
                              <img  class="images" src="assets/PL1.png" style="width:363px;height:209px"/>
                              <button (click)="summarylogger()"></button>
                              <div>
                               
                            </div>
                            </div>

                            <h2>Preferred Pattern</h2>
                            <div fxLayout="row" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                              <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->


                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label  label="Functionality">Monolith (current)</mat-label>
                                <input matInput readonly="true" matInput [(ngModel)]="assessmentService.cumulatedpreferredPattern1" required />
                              </mat-form-field>
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Purpose">Microservices</mat-label>
                                <input matInput readonly="true" matInput [(ngModel)]="assessmentService.cumulatedpreferredPattern2" required />
                              </mat-form-field>
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Purpose">Other</mat-label>
                              <input matInput readonly="true" matInput [(ngModel)]="assessmentService.cumulatedpreferredPattern3" required />
                            </mat-form-field>
                            </div>
                            <img  class="images" src="assets/PL2.png"style="width:363px;height:209px"/>
                            <!--/*<div>
                              <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
                            </div>*/-->
                            <div>

                          </div>
                          </div>

                            <div fxLayout="row" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                              <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->

                              <h2>Migration Recommendation</h2>

                            </div>
                            <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                            <mat-radio-group aria-label="Select an option" fxLayout="column" >
                              <mat-radio-button *ngIf="greenLight == true" [checked]= "true" color="primary" class="red" id="red" value="1" checked="case1()">Migration recommended</mat-radio-button>
                              <mat-radio-button *ngIf="yellowLight == true" [checked]= "true" id="radio-2" class="yellow" id="yellow" value="2" checked="case2()">Migration caution</mat-radio-button>
                              <mat-radio-button *ngIf="redLight == true" [checked]= "true"  color="warn" class="green" id="green" value="3" checked="case3()">Migration disapproval</mat-radio-button>
                            </mat-radio-group>
                            </div>
                           </div>
                        </div>

                            <!--<button mat-button (click)="deleteStrategicGoals(strategicGoals)">
                              <mat-icon mat-list-icon color="warn">delete</mat-icon>missing deletion mechanism
                            </button>-->

                        </div>
                      </div>



                </ng-container>
          </div>
          <ng-template #emptyStrategicGoalsList>
            <p style="color: grey; margin-left: 10px; margin-right: 10px"><i>No existing Strategic Goals. Please create a Strategic Goals
                by adding one using the green add button (+) </i></p>
          </ng-template>

        <!--<img  class="images" src="assets/Phase1-UI1.jpg"/>-->


