<div fxLayout='column' fxLayoutAlign='start center'>
  <h1>Explore all currently available refactoring approaches</h1>

  <table mat-table [dataSource]='dataSource' matSort
         class='mat-elevation-z8'>

    <ng-container matColumnDef='id'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='id'>
        ID
      </th>
      <td mat-cell *matCellDef='let approach'>
        {{approach.refactoringApproachId}}
      </td>
    </ng-container>

    <ng-container matColumnDef='title'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='title'>
        Title
      </th>
      <td mat-cell *matCellDef='let approach'>
        {{approach.approachSource.title}}
      </td>
    </ng-container>

    <ng-container matColumnDef='year'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='year'>
        Year
      </th>
      <td mat-cell *matCellDef='let approach'>
        {{approach.approachSource.year}}
      </td>
    </ng-container>

    <ng-container matColumnDef='authors'>
      <th mat-header-cell *matHeaderCellDef>
        Authors
      </th>
      <td mat-cell *matCellDef='let approach'>
        {{approach.approachSource.authors}}
      </td>
    </ng-container>

    <ng-container matColumnDef='actions'>
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell *matCellDef='let approach'>
        <button mat-icon-button color='accent' (click)='goToEdit(approach)'>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color='accent' (click)='goToLink(approach)'>
          <mat-icon>open_in_new</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedColumns;' (click)='openApproachView(row)'></tr>
  </table>
</div>
