table{
  width: 90%;
  margin: 20px 0;
}

tr.approach-row {
  cursor: pointer;
}

tr.approach-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.approach-cell {
  padding: 8px 24px 8px 0;
}

.approach-cell:last-child {
  padding: 8px 8px 8px 0;
}
