<div fxLayout='column' fxLayoutAlign='start center' class='page-container' fxLayoutGap='32px'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/phase/2'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Explore all currently available refactoring approaches</span>
  </h1>
  <p fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='8px'>
    <mat-icon color='accent'>info</mat-icon>
    <strong>Caution:</strong>
    <span>The below presented result list does represent a work-in-progress state and may be inaccurate and incomplete.</span>
  </p>

  <table mat-table [dataSource]='dataSource' matSort class='mat-elevation-z8'>
    <ng-container matColumnDef='id'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='id'>
        ID
      </th>
      <td mat-cell class='approach-cell' *matCellDef='let approach'>
        {{approach.identifier}}
      </td>
    </ng-container>

    <ng-container matColumnDef='title'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='title'>
        Title
      </th>
      <td mat-cell class='approach-cell' *matCellDef='let approach'>
        {{approach.approachSource.title}}
      </td>
    </ng-container>

    <ng-container matColumnDef='year'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='year'>
        Year
      </th>
      <td mat-cell class='approach-cell' *matCellDef='let approach'>
        {{approach.approachSource.year}}
      </td>
    </ng-container>

    <ng-container matColumnDef='authors'>
      <th mat-header-cell *matHeaderCellDef mat-sort-header='authors'>
        Authors
      </th>
      <td mat-cell class='approach-cell' *matCellDef='let approach'>
        {{approach.approachSource.authors}}
      </td>
    </ng-container>

    <ng-container matColumnDef='actions'>
      <th mat-header-cell *matHeaderCellDef>
        Actions
      </th>
      <td mat-cell class='approach-cell' *matCellDef='let approach'>
        <div fxLayout='row'>
          <button *ngIf='permissionService.isAdmin' mat-icon-button color='accent' (click)='goToEdit(approach, $event)'>
            <mat-icon>edit</mat-icon>
          </button>
          <button *ngIf='permissionService.isAdmin' mat-icon-button color='warn' (click)='deleteRefactoringApproach(approach, $event)'>
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color='accent' (click)='goToLink(approach, $event)'>
            <mat-icon>open_in_new</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef='displayedColumns'></tr>
    <tr mat-row *matRowDef='let row; columns: displayedColumns;'
        class='approach-row'
        (click)='openApproachView(row)'></tr>
  </table>
</div>
