<div fxLayout='column' fxLayoutAlign='start center' fxLayoutGap='32px' style='margin-bottom: 32px'>
  <h1>Check for Recommendations</h1>
  <p class='max-width-800'>
    To narrow down the choice of a suitable service identification approach, you can (according to the diagram) select
    either "New application", "Re-Build" or "Re-factor". The diagram also shows input artifacts that are
    typically needed for approaches in these categories. Now you will be presented a subset of the approach according to
    their suitability for the chosen strategy.
  </p>

  <svg class='main-container connection-container'>
    <line class='connection-line'
          [attr.x1]='parentCoordinates.x'
          [attr.y1]='parentCoordinates.y'
          [attr.x2]='greenFieldCoordinates.x'
          [attr.y2]='greenFieldCoordinates.y' />
    <line class='connection-line'
          [attr.x1]='parentCoordinates.x'
          [attr.y1]='parentCoordinates.y'
          [attr.x2]='brownFieldCoordinates.x'
          [attr.y2]='brownFieldCoordinates.y' />
    <line class='connection-line greenfield-connection-line'
          [attr.x1]='greenFieldCoordinates.x'
          [attr.y1]='greenFieldCoordinates.y'
          [attr.x2]='newApplicationCoordinates.x'
          [attr.y2]='newApplicationCoordinates.y' />
    <line class='connection-line brownfield-connection-line'
          [attr.x1]='brownFieldCoordinates.x'
          [attr.y1]='brownFieldCoordinates.y'
          [attr.x2]='reBuildCoordinates.x'
          [attr.y2]='reBuildCoordinates.y' />
    <line class='connection-line brownfield-connection-line'
          [attr.x1]='brownFieldCoordinates.x'
          [attr.y1]='brownFieldCoordinates.y'
          [attr.x2]='reFactorCoordinates.x'
          [attr.y2]='reFactorCoordinates.y' />

    <line class='connection-line greenfield-connection-line'
          [attr.x1]='newApplicationCoordinates.x'
          [attr.y1]='newApplicationCoordinates.y'
          [attr.x2]='requirementDocumentsCoordinates.x'
          [attr.y2]='requirementDocumentsCoordinates.y' />
    <line class='connection-line greenfield-connection-line'
          [attr.x1]='newApplicationCoordinates.x'
          [attr.y1]='newApplicationCoordinates.y'
          [attr.x2]='requirementModelsCoordinates.x'
          [attr.y2]='requirementModelsCoordinates.y' />

    <line class='connection-line brownfield-connection-line'
          [attr.x1]='reBuildCoordinates.x'
          [attr.y1]='reBuildCoordinates.y'
          [attr.x2]='requirementDocumentsCoordinates.x'
          [attr.y2]='requirementDocumentsCoordinates.y' />
    <line class='connection-line brownfield-connection-line'
          [attr.x1]='reBuildCoordinates.x'
          [attr.y1]='reBuildCoordinates.y'
          [attr.x2]='requirementModelsCoordinates.x'
          [attr.y2]='requirementModelsCoordinates.y' />
    <line class='connection-line brownfield-connection-line'
          [attr.x1]='reBuildCoordinates.x'
          [attr.y1]='reBuildCoordinates.y'
          [attr.x2]='designDocumentsCoordinates.x'
          [attr.y2]='designDocumentsCoordinates.y' />

    <line class='connection-line brownfield-connection-line'
          [attr.x1]='reFactorCoordinates.x'
          [attr.y1]='reFactorCoordinates.y'
          [attr.x2]='codebaseCoordinates.x'
          [attr.y2]='codebaseCoordinates.y' />
    <line class='connection-line brownfield-connection-line'
          [attr.x1]='reFactorCoordinates.x'
          [attr.y1]='reFactorCoordinates.y'
          [attr.x2]='logDataCoordinates.x'
          [attr.y2]='logDataCoordinates.y' />
  </svg>
  <div fxLayout='column' fxLayoutAlign='start center' fxLayoutGap='50px'>
    <mat-card #ParentNode class='diagram-node parent-diagram-node'>
      <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
        <mat-card-title>Microservices Identification Process</mat-card-title>
      </div>
    </mat-card>

    <div fxLayout='row' fxLayoutGap='20px'>
      <mat-card #GreenfieldNode class='diagram-node greenfield-diagram-node'>
        <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
          <mat-card-title>New Application Development</mat-card-title>
        </div>
      </mat-card>
      <mat-card #BrownfieldNode class='diagram-node brownfield-diagram-node'>
        <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
          <mat-card-title>Legacy Application Development</mat-card-title>
        </div>
      </mat-card>
    </div>

    <div fxLayout='row' fxLayoutGap='40px'>
      <app-card-button #NewApplicationNode
                       color='primary'
                       icon='add_to_queue'
                       [showContent]='false'
                       [smallCard]='true'
                       (click)='searchNewApplicationRecommendations()'>
        <ng-container title>New application</ng-container>
      </app-card-button>
      <app-card-button #ReBuildNode
                       color='brown'
                       icon='build'
                       [showContent]='false'
                       [smallCard]='true'
                       (click)='searchReBuildRecommendations()'>
        <ng-container title>Re-Build</ng-container>
      </app-card-button>
      <app-card-button #ReFactorNode
                       color='brown'
                       icon='loop'
                       [showContent]='false'
                       [smallCard]='true'
                       (click)='searchReFactorRecommendations()'>
        <ng-container title>Re-Factor</ng-container>
      </app-card-button>
    </div>

    <div fxLayout='row'>
      <div fxLayoutAlign='center center'>
        Typical
        <br>
        Input
        <br>
        Artifacts
      </div>
      <div style='margin: 0 4px; font-size: 45px'>
        {{ '{' }}
      </div>
      <div fxLayout='row' fxLayoutGap='20px'>
        <mat-card #RequirementDocumentsNode class='diagram-node'>
          <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
            <mat-card-title>Requirement Documents</mat-card-title>
          </div>
        </mat-card>
        <mat-card #RequirementModelNode class='diagram-node'>
          <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
            <mat-card-title>Requirement Models</mat-card-title>
          </div>
        </mat-card>
        <mat-card #DesignDocumentsNode class='diagram-node'>
          <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
            <mat-card-title>Design Documents</mat-card-title>
          </div>
        </mat-card>
        <mat-card #CodebaseNode class='diagram-node'>
          <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
            <mat-card-title>Codebase</mat-card-title>
          </div>
        </mat-card>
        <mat-card #LogDataNode class='diagram-node'>
          <div fxFlex fxLayoutAlign='center center' style='text-align: center'>
            <mat-card-title>Log Data</mat-card-title>
          </div>
        </mat-card>
      </div>

    </div>
  </div>

  <p class='max-width-800'>
    If these presets are too unspecific, you can click on "Configure". This brings up a UI mask that allows you to
    specifically filter the available approaches according to your needs.
  </p>
  <app-card-button routerLink='configure'
                   icon='settings'
                   [showContent]='false'>
    <ng-container title>Configure</ng-container>
  </app-card-button>
</div>
