<div fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
  <p class='max-width-800'>
          In his section, all previosly entered scenarios are presented again. In this step, the system architecture styles for implementing each scenario is specified. In the tree, all scenarios can be browsed/selected. For each scenario, the possible architectural style for its implementation shoud be specified - either Monolith, Microservices, Other, or a commbination of them.
          To narrow down this selection, the most suitable/preferred architectural style should be picked, which is either Monolith, Microservices, or Other.
          </p></div>
        <div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
          <!--<button mat-flat-button matStepperPrevious color='accent'>
            <mat-icon>arrow_back</mat-icon>
            <span>Back</span>
          </button>-->
          <button mat-flat-button matStepperNext color='accent'>
            <span>Next</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="saveChanges()" ><span>Save Changes</span></button><!--[disabled]='!allNamesSet()' (click)="saveChanges()"-->
          <mat-divider vertical></mat-divider>
          <button mat-flat-button color='accent' [routerLink]="['/phase/2']">
            <mat-icon>move_down</mat-icon>
            <span> Skip to Phase 2</span>
          </button>
          <button mat-flat-button color='accent' [routerLink]="['/phase/3']">
            <mat-icon>move_down</mat-icon>
            <span> Skip to Phase 3</span>
          </button>
          </div>
          <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center">
            <mat-card class="strategicGoal-card" class="mat-elevation-z8">
              <mat-card-title>Assessment
                <button style="margin-left: 10px; margin-bottom: 10px" mat-mini-fab class="attribute-button" color="primary"
                  (click)="addEmptyStrategicGoals()">
                  <mat-icon>add</mat-icon>
                </button>
              </mat-card-title>
          
          
              <div class="mat-elevation-z8" cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="strategicGoalsList">
                <ng-container *ngIf="strategicGoalsList.length > 0; else emptyStrategicGoalsList">
                  <div *ngFor="let strategicGoals of strategicGoalsList" [cdkDragData]="strategicGoalsList" cdkDragLockAxis="y"
                    cdkDragBoundary=".drop-list" cdkDrag (click)="strategicGoalsSelected(strategicGoalsList)" [ngClass]="{
                    'selected-drop-box': checkCurrentStrategicGoals(strategicGoalsList),
                    'drop-box': !checkCurrentStrategicGoals(strategicGoalsList)
                    }">
                    <div class="drop-handle" cdkDragHandle>
                      <mat-icon mat-list-icon>drag_indicator</mat-icon>
                    </div>
                    
                      
                      <div fxLayout="column"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->
                        <div fxLayout="row"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->
                        <!--<h2>Method</h2>-->
                        <mat-form-field appearance="fill" >
                          <mat-label>Method</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.method" required />
                        </mat-form-field>

                        <mat-radio-group aria-label="Select an option" style="padding:5px;">
                          <mat-radio-button value="1">Scenario-based</mat-radio-button>
                          <mat-radio-button value="2">Metric-based</mat-radio-button>
                        </mat-radio-group>

                        </div>
                        <mat-form-field appearance="fill" fxFlex="70">
                          <mat-label>Ownership</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.owner" required />
                        </mat-form-field>
        
                        <mat-form-field appearance="fill" fxFlex="70">
                          <mat-label>Participants</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.participants" required />
                        </mat-form-field>
        
                        <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                          <h2>Objectives</h2>
                          <!--<mat-tab-group>-->
                          <mat-tab-group >  
          
                            <mat-tab label="Business/Company Objectives">
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Purpose">Business/Company Objectives</mat-label>
                                <textarea matInput [(ngModel)]="strategicGoals.business_company_objectives"></textarea>
                              </mat-form-field>
                            </mat-tab>
          
                            <mat-tab label="Organizational Objectives">
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label  label="Functionality">Organizational Objectives</mat-label>
                                <textarea matInput [(ngModel)]="strategicGoals.organizational_objectives"></textarea>
                              </mat-form-field>
                            </mat-tab>
          
                            <mat-tab label="Process Objectives">
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Process Objectives">Design Diagrams</mat-label>
                                <textarea matInput [(ngModel)]="strategicGoals.process_objectives"></textarea>
                              </mat-form-field>
                            </mat-tab>

                            

                          </mat-tab-group>

                            <button mat-button (click)="deleteStrategicGoals(strategicGoals)">
                              <mat-icon mat-list-icon color="warn">delete</mat-icon><!--missing deletion mechanism-->
                            </button>

                        </div>
                      </div>
                     
                  </div>

                </ng-container>
          </div>
          <ng-template #emptyStrategicGoalsList>
            <p style="color: grey; margin-left: 10px; margin-right: 10px"><i>No existing Strategic Goals. Please create a Strategic Goals
                by adding one using the green add button (+) </i></p>
          </ng-template>
        
        <!--<img  class="images" src="assets/Phase1-UI1.jpg"/>-->
        

