<div mat-dialog-title>
  <h3>{{data.title}}</h3>
</div>
<div mat-dialog-content >
  <mat-slide-toggle class='margin-bottom' [(ngModel)]='this.permissionService.isAdmin'>
    Show admin functions
  </mat-slide-toggle>
  
  <button
    mat-raised-button
    color="accent"
    class="margin-bottom"
    *ngIf="permissionService.isAdmin"
    routerLink="phase/2/approach"
    (click)="onCancelClicked()"
  >
 
  <span><strong>Add</strong> a new approach to database! </span>
  </button>


  <button mat-raised-button color='accent' class='margin-bottom' (click)='exportApproaches()'>
    <mat-icon style='margin-right: 8px'>file_download</mat-icon>
    <span>Export approaches</span>
  </button>


  <button mat-raised-button color='accent' class='margin-bottom' (click)='importApproaches()'>
    <mat-icon style='margin-right: 8px'>file_upload</mat-icon>
    <span>Import approaches</span>
    <input #importInput type='file' style='display: none' accept='.json' (change)='handleImport($event)'>
  </button>
</div>
<!--<div mat-dialog-content fxLayout="column">
  <span>
  <button mat-raised-button color='accent' class='margin-bottom' (click)='exportDB()'>
    <mat-icon style='margin-right: 8px'>cloud_download</mat-icon>
    <span>Export Database</span>
  </button>
</span>

<span>
  <button mat-raised-button color='accent' class='margin-bottom' (click)='importDB()'>
    <mat-icon style='margin-right: 8px'>cloud_upload</mat-icon>
    <span>Import Database</span>
    <input #importInput type='file' style='display: none' accept='.json' (change)='handleImport($event)'>
  </button>
</span>
</div>-->

<div mat-dialog-actions>
  <button mat-raised-button color='warn'
          (click)='onCancelClicked()'>{{data.cancelButtonText}}</button>
</div>

