.card-button {
  height: calc(100% - 32px);
  max-width: 320px;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: none;
}

.mat-icon {
  margin-left: 10px;
  padding: 0 6px 6px 0;
  font-size: 30px;
}
