.output-list {
  max-height: 480px;
  overflow: auto;
}

.mat-accordion {
  width: 80%;
  margin-top: 22px;
}

.content-container {
  margin-bottom: 50px;
}

.button-bar {
  padding: 16px;
}

h3 {
  line-height: 40px;
}

.attribute-button {
  margin-left: 10px;
}

.output-attribute-button {
  margin: 5px 0 5px 10px;
}
