<div fxLayout='column' fxLayoutAlign='start center' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/home'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Phase 3</span>
  </h1>
  <p class='max-width-800'>
    In Phase 3 of a migration, the target microservices architecture is designed. Patterns and best practices for the architectural design are means to achieve certain quality goals.
  </p>
  <p class='max-width-800'>
    As a first step, you may want to explore the list of cataloged patterns and best practices by clicking on "Explore all Patterns and Best Practices". It will present a list with the possibility to inspect all details of a pattern or best practice.
    "Find recommended Patterns and Best Practices" presents you a ranked list of patterns based on the filter configuration in Phase 2 (shown in the Sidebar).
	"Find scenario-based recommended Patterns and Best Practices" will combine the scenarios' quality goals from Phase 1 with the additional filter configuration in Phase 2 for calculating the ranking. <br />
  </p>

  <div class='card-group' fxLayout='row' fxLayoutGap='50px'>
    <app-card-button color='phase-2' routerLink='architecturalDesigns'>
      <div title>
        <strong>Explore</strong> all Patterns and Best Practices
      </div>
      <ng-container content>
        Freely explore all Patterns and Best Practices that exist in the repository.
      </ng-container>
    </app-card-button>
    <app-card-button color='phase-2' routerLink='architecturalDesigns/result/manual'>
      <div title>
        <strong>Find</strong> recommended Patterns and Best Practices
      </div>
      <ng-container content>
        Find recommended Patterns and Best Practices based on the filter configuration in Phase 2.
      </ng-container>
    </app-card-button>
    <app-card-button color='phase-1' routerLink='architecturalDesigns/result/scenarioBased'>
      <div title>
        <strong>Find scenario-based</strong> recommended Patterns and Best Practices
      </div>
      <ng-container content>
        Find recommended Patterns and Best Practices based on scenarios specified in Phase 1 and the filter configuration in Phase 2.
      </ng-container>
    </app-card-button>
  </div>
</div>