<div fxLayout='column' fxLayoutAlign='start center' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/home'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Phase 3: Architecture Definition</span>
  </h1>

  <div class='card-group' fxLayout='row' fxLayoutGap='50px'>
    <app-card-button color='phase-2' routerLink='architecturalDesigns'>
      <div title>
        <strong>Explore</strong> all architectural designs!
      </div>
      <ng-container content>
        Freely explore all architectural designs that exist in the repository.
      </ng-container>
    </app-card-button>
    <app-card-button color='phase-2' routerLink='architecturalDesigns/result'>
      <div title>
        <strong>Find</strong> recommended architectural designs!
      </div>
      <ng-container content>
        Find recommended architectural designs based on preferred qualities.
      </ng-container>
    </app-card-button>
  </div>
</div>