.home-page-card{
  width: 320px;
  cursor: pointer;
}

.home-page-card:hover{
  color: var(--color-accent-darker);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.4),0px 1px 1px 0px rgba(0, 0, 0, 0.34),0px 1px 3px 0px rgba(0, 0, 0, 0.32);
}

.card-group{
  margin-top: 64px;
}

.max-width-500{
  max-width: 500px;
}
