<div fxLayout='column' fxLayoutAlign='start center' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px' >
    <span>Architecture Refactoring Helper</span>
    <button mat-icon-button color="basic" (click)="showInfo()">
      <mat-icon>info</mat-icon>
    </button>
  </h1>
  <ng-container *ngIf="showInfoBool">
  <p class='max-width-800'>
    The Architecture Refactoring Helper web application supports architects in migrating monolithic
    systems towards a microservices architecture.
    The framework below depicts the common activities during a migration, grouped into three phases.
  </p>
  <p class='max-width-800'>
    In "Phase 1: System Comprehension", strategic goals and scenarios can be defined based on (e.g. based on ATAM),	while quality attributes can be assigned to them.<br />
    In "Phase 2: Strategy Definition", the migration strategy, decomposition approach, and tool support can be<br /> 
	selected by filtering the cataloged refactoring approaches, while quality goals of phase 1 can be incorporated.<br />
    In phase "3a: Architecture Definition", a catalog of microservices design patterns and best practices helps to<br /> 
	support the design of the target architecture, while quality goals of phase 1 can be incorporated here as well.
  </p>
  </ng-container>
  <div>
    <a id='phase-1-area' class='image-area' routerLink='/phase/1'></a>
    <a id='phase-2-area' class='image-area' routerLink='/phase/2'></a>
    <a id='phase-3-area' class='image-area' routerLink='/phase/3'></a>
    <img src='assets/Migration%20Framework%20V4.jpg' alt='migration framework image'>
  </div>
</div>