<div fxLayout='column' fxLayoutAlign='start center'>
  <h1 class='max-width-500'>Architecture Refactoring Helper</h1>
  <p class='max-width-500'>
    The Architecture Refactoring Helper is an application which aims to help find suitable
    migration approaches to microservices architecture.
  </p>
  <p class='max-width-500'>
    Select a phase from the diagram you are interested in.
  </p>

  <div>
    <a id='phase-1-area' class='image-area' routerLink='/stage/1'></a>
    <a id='phase-2-area' class='image-area' routerLink='/stage/2'></a>
    <a id='phase-3-area' class='image-area' routerLink='/stage/3'></a>
    <img src='assets/Migration%20Framework%20V4.jpg' alt='migration framework image'>
  </div>
</div>
