.card-group {
  max-width: 100%;
  margin-top: 20px;
}

img {
  margin-top: 10px;
  height: 540px;
}

.image-area {
  background: var(--color-grey-darker);
  display: block;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.image-area:hover{
  opacity: 0.33;
}

#phase-1-area {
  margin-left: 115px;
  margin-top: 17px;
  height: 144px;
  width: 526px;
}

#phase-2-area {
  margin-left: 163px;
  margin-top: 185px;
  height: 105px;
  width: 430px;
}

#phase-3-area {
  margin-left: 115px;
  margin-top: 316px;
  height: 227px;
  width: 526px;
}
