<div fxLayout='column' fxLayoutAlign='start center' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px' >
    <span>Architecture Refactoring Helper</span>
    <button mat-icon-button color="basic" (click)="showInfo()">
      <mat-icon>info</mat-icon>
    </button>
  </h1>
  <ng-container *ngIf="showInfoBool">
  <p class='max-width-800'>
    The Architecture Refactoring Helper is a web application which aims to support architects in migrating monolithic
    systems towards a Microservices architecture.
    The framework below depicts the common activities during a migration, grouped into three phases.
  </p>
  <p class='max-width-800'>
    In phase 1, the scenarios can be defined based on (e.g. the ATAM method) and quality attributes can be assigned to them.
    In phase 2, all available approaches for decomposition and service identification can be explored. A configurator can be used to filter for suitable approach based on the results of phase 1. 
    In phase 3, all available Microservices design patterns and best practices can be explored. Based on the results of phase 1, suitable patterns and best practices for the target architecture are suggested.
  </p>
  </ng-container>
  <div>
    <a id='phase-1-area' class='image-area' routerLink='/phase/1'></a>
    <a id='phase-2-area' class='image-area' routerLink='/phase/2'></a>
    <a id='phase-3-area' class='image-area' routerLink='/phase/3'></a>
    <img src='assets/Migration%20Framework%20V4.jpg' alt='migration framework image'>
  </div>
</div>