
<div fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
<p class='max-width-800'>
  In this section, details of a new Microservices migration project are specified. The System Specification, System Description and System Properties fields characterizes the system to be migrated and reflect it's current state. 
  The free-text fields within System Description allow to briefly summarize it's purpose, main functionality and attach additional design diagrams.</p>
  </div>
<div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
  <!--<button mat-flat-button matStepperPrevious color='accent'>
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </button>-->
  <button mat-flat-button matStepperNext color='accent'>
    <span>Next</span>
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="saveChanges()" ><span>Save Changes</span></button><!--[disabled]='!allNamesSet()' (click)="saveChanges()"-->
  <mat-divider vertical></mat-divider>
  <button mat-flat-button color='accent' [routerLink]="['/phase/2']">
    <mat-icon>move_down</mat-icon>
    <span> Skip to Phase 2</span>
  </button>
  <button mat-flat-button color='accent' [routerLink]="['/phase/3']">
    <mat-icon>move_down</mat-icon>
    <span> Skip to Phase 3</span>
  </button>
  </div>
  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center">
    <mat-card class="projectDescription-card" class="mat-elevation-z8">
      <mat-card-title>Project Description
        <button style="margin-left: 10px; margin-bottom: 10px" mat-mini-fab class="attribute-button" color="primary"
          (click)="addEmptyProjectDescription()">
          <mat-icon>add</mat-icon><!--remove-->
        </button>
      </mat-card-title>
  
  
      <div class="mat-elevation-z8" cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="projectDescriptionList">
        <ng-container *ngIf="projectDescriptionList.length > 0; else emptyProjectDescriptionList">
          <div *ngFor="let projectDescription of projectDescriptionList" [cdkDragData]="projectDescription" cdkDragLockAxis="y"
            cdkDragBoundary=".drop-list" cdkDrag (click)="projectDescriptionSelected(projectDescription)" [ngClass]="{
            'selected-drop-box': checkCurrentProjectDescription(projectDescription),
            'drop-box': !checkCurrentProjectDescription(projectDescription)
          }">
            <div class="drop-handle" cdkDragHandle>
              <mat-icon mat-list-icon>drag_indicator</mat-icon>
            </div>
            <div fxLayout="row"><!--row-->
              
              <div fxLayout="column"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->
                <h2>System Specification</h2>
                <mat-form-field appearance="fill" >
                  <mat-label>System Name</mat-label>
                  <input matInput [(ngModel)]="projectDescription.systemname" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Ownership</mat-label>
                  <input matInput [(ngModel)]="projectDescription.ownership" required />
                </mat-form-field>

                <!--<mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Creationdate</mat-label>
                  <input matInput [(ngModel)]="projectDescription.creationdate" required />
                </mat-form-field>-->

                 <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Creationdate</mat-label>
                  <mat-select [(value)]="projectDescription.creationdate"></mat-select>
                  <input matInput  [matDatepicker]="picker" required />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>-
                
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>System Size (LOC)</mat-label><!-- change to unit int-->
                  <input matInput [(ngModel)]="projectDescription.systemsize" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Hosting Model</mat-label>
                  <input matInput [(ngModel)]="projectDescription.hosting" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Number of Teams</mat-label>
                  <input matInput [(ngModel)]="projectDescription.teams" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Number of Developers</mat-label>
                  <input matInput [(ngModel)]="projectDescription.developers" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Process Model</mat-label>
                  <input matInput [(ngModel)]="projectDescription.processmodel" required />
                </mat-form-field>

              </div>
              <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                <h2>System Description</h2>
                <!--<mat-tab-group>-->
                  <mat-tab-group style="height: 75%;">  

                <mat-tab label="Purpose">
                  <mat-form-field class="description-field" appearance="fill">
                    <mat-label label="Purpose">Purpose</mat-label>
                    <textarea matInput [(ngModel)]="projectDescription.purpose"></textarea>
                </mat-form-field>
                </mat-tab>

                <mat-tab label="Functionality">
                <mat-form-field class="description-field" appearance="fill">
                  <mat-label  label="Functionality">Functionality</mat-label>
                  <textarea matInput [(ngModel)]="projectDescription.functionality"></textarea>
                </mat-form-field>
                </mat-tab>

                <mat-tab label="Design Diagrams">
                <mat-form-field class="description-field" appearance="fill">
                  <mat-label label="Design Diagrams">Design Diagrams</mat-label>
                  <textarea matInput [(ngModel)]="projectDescription.designdiagrams"></textarea>
                </mat-form-field>
                <button mat-button id="upload" >
                  <mat-icon>move_up</mat-icon>
                  <span>Upload Diagram</span>
                </button>
              </mat-tab>
              </mat-tab-group>
              <!--</mat-tab-group>-->

              </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" style="width: 50%;justify-content:center;padding:5px">
            <h2>Properties</h2>
            <mat-form-field class="description-field" appearance="fill">
              <mat-label>Architecture Patterns</mat-label>
              <mat-select [(value)]="projectDescription.patterns">
              <mat-checkbox *ngFor="let pattern of enumKeys2" [value]="pattern">
                  {{pattern}}<!--multi selection field -->
                </mat-checkbox>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="description-field" appearance="fill">
              <mat-label>Languages</mat-label>
              <mat-select [(value)]="projectDescription.languages">
                <mat-option *ngFor="let language of enumKeys" [value]="language">
                  {{language}}<!--multi selection field -->
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="description-field" appearance="fill">
              <mat-label>Data Persistence</mat-label>
              <textarea matInput [(ngModel)]="projectDescription.perisistence"></textarea>
            </mat-form-field>
            <button mat-button (click)="deleteProjectDescription(projectDescription)">
              <mat-icon mat-list-icon color="warn">delete</mat-icon><!--missing deletion mechanism-->
            </button>
          </div>

          </div>


      </ng-container>
  </div>
  <ng-template #emptyProjectDescriptionList>
    <p style="color: grey; margin-left: 10px; margin-right: 10px"><i>No existing Project Descriptions. Please create a Project Description
        by adding one using the green add button (+) </i></p>
  </ng-template>

<!--<img  class="images" src="assets/Phase1-UI1.jpg"/>-->
