
<div fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
<p class='max-width-800'>In this section, scenarios can be created based on the <a href="https://resources.sei.cmu.edu/library/asset-view.cfm?assetID=5177" target="_blank">ATAM method</a>. For this purpose, quality attributes you want to optimize can be assigned
  to the scenarios.
  <br/>
  For importance, a scale of prioritization is applied, where <strong>A</strong> means 'important', <strong>B</strong> means 'medium' and <strong>C</strong> means 'less
  important'. For difficulty, <strong>A</strong> means 'very difficult', <strong>B</strong> means 'normal' and <strong>C</strong> means 'easy'.</p>
  </div>
<div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
  <!--<button mat-flat-button matStepperPrevious color='accent'>
    <mat-icon>arrow_back</mat-icon>
    <span>Back</span>
  </button>-->
  <button mat-flat-button matStepperNext color='accent'>
    <span>Next</span>
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="saveChanges()" ><span>Save Changes</span></button><!--[disabled]='!allNamesSet()' (click)="saveChanges()"-->
  <mat-divider vertical></mat-divider>
  <button mat-flat-button color='accent' [routerLink]="['/phase/2']">
    <mat-icon>move_down</mat-icon>
    <span> Skip to Phase 2</span>
  </button>
  <button mat-flat-button color='accent' [routerLink]="['/phase/3']">
    <mat-icon>move_down</mat-icon>
    <span> Skip to Phase 3</span>
  </button>
  </div>
  <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center">
    <mat-card class="projectDescription-card" class="mat-elevation-z8">
      <mat-card-title>Project Description
        <button style="margin-left: 10px; margin-bottom: 10px" mat-mini-fab class="attribute-button" color="primary"
          (click)="addEmptyProjectDescription()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-title>
  
  
      <div class="mat-elevation-z8" cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="projectDescriptionList">
        <ng-container *ngIf="projectDescriptionList.length > 0; else emptyprojectDescriptionList">
          <div *ngFor="let projectDescription of projectDescriptionList" [cdkDragData]="projectDescription" cdkDragLockAxis="y"
            cdkDragBoundary=".drop-list" cdkDrag (click)="projectDescriptionSelected(projectDescription)" [ngClass]="{
            'selected-drop-box': checkCurrentProjectDescription(projectDescription),
            'drop-box': !checkCurrentProjectDescription(projectDescription)
          }">
            <div class="drop-handle" cdkDragHandle>
              <mat-icon mat-list-icon>drag_indicator</mat-icon>
            </div>
            <div fxLayout="row"><!--row-->
              
              <div fxLayout="column"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->
                <h2>System specs</h2>
                <mat-form-field appearance="fill" >
                  <mat-label>System Name</mat-label>
                  <input matInput [(ngModel)]="projectDescription.systemname" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Ownership</mat-label>
                  <input matInput [(ngModel)]="projectDescription.ownership" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Creationdate</mat-label>
                  <input matInput [(ngModel)]="projectDescription.creationdate" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>System Size</mat-label>
                  <input matInput [(ngModel)]="projectDescription.systemsize" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Hosting</mat-label>
                  <input matInput [(ngModel)]="projectDescription.hosting" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Teams</mat-label>
                  <input matInput [(ngModel)]="projectDescription.teams" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Developers</mat-label>
                  <input matInput [(ngModel)]="projectDescription.developers" required />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="70">
                  <mat-label>Process Model</mat-label>
                  <input matInput [(ngModel)]="projectDescription.processmodel" required />
                </mat-form-field>



  
  
                
              </div>
              <div fxLayout="column" fxLayoutGap="10px" style="width: 50%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                <h2>System Description</h2>
                <!--<mat-tab-group>-->
                <mat-form-field class="description-field" appearance="fill">
                  <mat-label label="Purpose">Purpose</mat-label>
                  <textarea matInput [(ngModel)]="projectDescription.purpose"></textarea>
                </mat-form-field>
                <mat-form-field class="description-field" appearance="fill">
                  <mat-label  label="Functionality">Functionality</mat-label>
                  <textarea matInput [(ngModel)]="projectDescription.functionality"></textarea>
                </mat-form-field>
                <mat-form-field class="description-field" appearance="fill">
                  <mat-label label="Design Diagrams">Design Diagrams</mat-label>
                  <textarea matInput [(ngModel)]="projectDescription.designdiagrams"></textarea>
                </mat-form-field>
                <button mat-button id="upload" >
                  <mat-icon>move_up</mat-icon>
                  <span>Upload Diagram</span>
                </button>
              <!--</mat-tab-group>-->

              </div>
          </div>
          <div fxLayout="column" fxLayoutGap="10px" style="width: 50%;justify-content:center;padding:5px">
            <h2>Properties</h2>
            <mat-form-field class="description-field" appearance="fill">
              <mat-label>Architecture Patterns</mat-label>
              <textarea matInput [(ngModel)]="projectDescription.patterns"></textarea>
            </mat-form-field>
            <mat-form-field class="description-field" appearance="fill">
              <mat-label>Languages</mat-label>
              <textarea matInput [(ngModel)]="projectDescription.languages"></textarea>
            </mat-form-field>
            <mat-form-field class="description-field" appearance="fill">
              <mat-label>Persistence</mat-label>
              <textarea matInput [(ngModel)]="projectDescription.perisistence"></textarea>
            </mat-form-field>
            <button mat-button >
              <mat-icon mat-list-icon color="warn">delete</mat-icon><!--missing deletion mechanism-->
            </button>
            <!--<button mat-button >
              <mat-icon mat-list-icon color="warn">delete</mat-icon>-missing deletion mechanism-->
            <!--</button>-->
          </div>

        </div>


      </ng-container>
  </div>
  <ng-template #emptyprojectDescriptionList>
    <p style="color: grey; margin-left: 10px; margin-right: 10px"><i>No existing Project Descriptions. Please create a scenario
        by adding one using the green add button (+) </i></p>
  </ng-template>

<!--<img  class="images" src="assets/Phase1-UI1.jpg"/>-->
