<div fxLayout='column' fxLayoutAlign='start center' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/home'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Phase 2: Strategy Definition</span>
  </h1>

  <p class='max-width-800'>
    In the second phase of a migration, the architect chooses the migration strategy and subsequently selects a suitable
    service identification approach. The diagram on the following page shows the different development strategies that
    can be chosen for a system modernization or migration.
  </p>
  <p class='max-width-800'>
    As a first step, you may want to explore the entire list of approaches by clicking on "Explore all approaches". This
    will give you a list (currently there's only a subset of 18 approaches are in the database) of approaches which can
    be explored in detail by clicking on them. Each approach represents a peer-reviewed scientific publication.
  </p>
  <p class='max-width-800'>
    Otherwise you can look for recommended refactoring approaches based on inputs, outputs, processes and usability
    aspects of existing refactoring approaches by clicking on "Find recommended approaches".
  </p>

  <div class='card-group' fxLayout='row' fxLayoutGap='50px'>
    <app-card-button color='phase-2' routerLink='approaches'>
      <div title>
        <strong>Explore</strong> all approaches!
      </div>
      <ng-container content>
        Freely explore all refactoring approaches that exist in the repository.
      </ng-container>
    </app-card-button>

    <app-card-button color='phase-2' routerLink='recommendation'>
      <div title>
        <strong>Find</strong> recommended approaches!
      </div>
      <ng-container content>
        Find recommended refactoring approach recommendations based on preferred inputs, outputs,
        processes and usability aspects of the approach.
      </ng-container>
    </app-card-button>

    <app-card-button color='phase-1' routerLink='recommendation'>
      <div title>
        Find <strong>scenario-based</strong> recommended approaches!
      </div>
      <ng-container content>
        Find recommended refactoring approach recommendations based on scenarios declared in Phase 1.
      </ng-container>
    </app-card-button>
  </div>
</div>
