<div fxLayout='column' fxLayoutAlign='start center' class='page-container'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/home'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Phase 2</span>
  </h1>

  <p class='max-width-800'>
    In "Phase 2: Strategy Definition", a migration strategy and refactoring approach for the identification of microservices is selected. 
  </p>
  <p class='max-width-800'>
    As a first step, you may want to explore the list of all cataloged approaches and tools by clicking on 
	"Explore all approaches" or "Explore all tools". It will present a list with the possibility to inspect
	all details of an approach or tool. Each approach represents a peer-reviewed scientific publication.
  </p>
  <p class='max-width-800'>
    "Find recommended approaches" offers basic filter presets for Refactor, Rebuild, and New Application,
	and allows for a detailed filtering by subsequently clicking on "Configure".
	"Find scenario-based recommended approaches" preselects the detailed filter configuration with the qualities
	specified for the scenarios in "Phase 1: System Comprehension", and allows to apply further filters.
  </p>

  <div class='card-group' fxLayout='row' fxLayoutGap='50px'>
    <app-card-button color='phase-2' routerLink='approaches'>
      <div title>
        <strong>Explore</strong> all approaches
      </div>
      <ng-container content>
        Freely explore all refactoring approaches that exist in the repository.
      </ng-container>
    </app-card-button>

    <app-card-button color='phase-2' routerLink='tools'>
      <div title>
        <strong>Explore</strong> all tools
      </div>
      <ng-container content>
        Freely explore all tools that exist in the repository.
      </ng-container>
    </app-card-button>
  </div>

  <div class='card-group' fxLayout='row' fxLayoutGap='50px'>
    <app-card-button color='phase-2' routerLink='recommendation'>
      <div title>
        <strong>Find</strong> recommended approaches
      </div>
      <ng-container content>
        Find refactoring approach recommendations based on qualities, preferred inputs, outputs,
        processes, and usability aspects.
      </ng-container>
    </app-card-button>

    <app-card-button color='phase-1' [routerLink]="['recommendation', 'configure' , 'scenarioBased']">
      <div title>
        <strong>Find scenario-based</strong> recommended approaches
      </div>
      <ng-container content>
        Find refactoring approach recommendations based on the scenarios specified in "Phase 1: System Comprehension".
      </ng-container>
    </app-card-button>
  </div>
</div>
