<div fxLayout='column' fxLayoutAlign='start center'>
  <h1 class='max-width-800'>Phase 2: Strategy Definition</h1>
  <p class='max-width-800'>
    Placeholder
  </p>

  <img src='assets/Migration%20Framework%20Phase2%20V4.png' alt='migration framework phase 2 image'>

  <div class='card-group' fxLayout='row' fxLayoutGap='50px'>
    <app-card-button *ngIf='permissionService.isAdmin' color='phase-2' routerLink='approach'>
      <div title>
        <strong>Add</strong> a new refactoring approach!
      </div>
      <ng-container content>
        Add a new refactoring approach that is not yet represented in the repository.
      </ng-container>
    </app-card-button>

    <app-card-button color='phase-2' routerLink='approaches'>
      <div title>
        <strong>Explore</strong> existing refactoring approaches!
      </div>
      <ng-container content>
        Freely explore all refactoring approaches that exist in the repository.
      </ng-container>
    </app-card-button>

    <app-card-button color='phase-2' routerLink='recommendation'>
      <div title>
        <strong>Find recommendations</strong> for your application!
      </div>
      <ng-container content>
        Find recommended refactoring approach recommendations based on preferred inputs, outputs,
        processes and usability aspects of the approach.
      </ng-container>
    </app-card-button>
  </div>
</div>
