<div cdkDropListGroup fxLayout='row' fxLayoutGap='40px'>
  <div fxFlex='50'>
    <h3>
      {{sourceDataListTitle}}
      <button *ngIf='attributeCreationActive' mat-mini-fab class='attribute-button' color='primary'
              (click)='onAddAttributeClicked()'>
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf='attributeDeletionActive' mat-mini-fab class='attribute-button' color='warn'
              (click)='onDeleteAttributeClicked()'>
        <mat-icon>remove</mat-icon>
      </button>
    </h3>
    <div cdkDropList
         [cdkDropListData]='sourceDataList'
         (cdkDropListDropped)='drop($event)'
         class='connected-data-list mat-elevation-z8'>
      <div *ngFor='let item1 of sourceDataList'
           class='connected-data-list-item'
           [matTooltip]='item1.dataElement.description ? item1.dataElement.description : noDescriptionText'
           [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY'
           [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'
           cdkDrag>
        {{item1.displayName}}
      </div>
    </div>
  </div>
  <div fxFlex='50'>
    <h3>{{targetDataListTitle}}</h3>
    <div cdkDropList
         [cdkDropListData]='targetDataList'
         (cdkDropListDropped)='drop($event)'
         class='connected-data-list mat-elevation-z8'>
      <div *ngFor='let item2 of targetDataList'
           class='connected-data-list-item'
           [matTooltip]='item2.dataElement.description ? item2.dataElement.description : noDescriptionText'
           [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY'
           [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'
           cdkDrag>
        {{item2.displayName}}
      </div>
    </div>
  </div>
</div>
