<div fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
  <p class='max-width-800'>In this section, the overarching strategic goals of the migration project are collected. These goals provide the foundation for deriving quality attributes of the system to improve in the next step. Each set of goals can combine either several Business/Comany objectives, Organizational objectives, or Process objectives.
     Each set of goals should be tagged with the used method for elicitation (e.g. Architecture Review), its ownership (e.g. Architect) and involved stakeholders/participants.</p>
          </div>
        <div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign='center'>
          <!--<button mat-flat-button matStepperPrevious color='accent'>
            <mat-icon>arrow_back</mat-icon>
            <span>Back</span>
          </button>-->
          <button mat-flat-button matStepperNext color='accent'>
            <span>Next</span>
            <mat-icon>arrow_forward</mat-icon>
          </button>
          <button mat-raised-button color="primary" (click)="saveChanges()" ><span>Save Changes</span></button><!--[disabled]='!allNamesSet()' (click)="saveChanges()"-->
          <mat-divider vertical></mat-divider>
          <button mat-flat-button color='accent' [routerLink]="['/phase/2']">
            <mat-icon>move_down</mat-icon>
            <span> Skip to Phase 2</span>
          </button>
          <button mat-flat-button color='accent' [routerLink]="['/phase/3']">
            <mat-icon>move_down</mat-icon>
            <span> Skip to Phase 3</span>
          </button>
          </div>
          <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center">
            <mat-card class="strategicGoal-card" class="mat-elevation-z8">
              <mat-card-title>Strategic Goals
                <!--<button style="margin-left: 10px; margin-bottom: 10px" mat-mini-fab class="attribute-button" color="primary"
                  (click)="addEmptyStrategicGoals()">
                  <mat-icon>add</mat-icon>
                </button>-->
              </mat-card-title>
          
              <div class="mat-elevation-z8" cdkDropList class="drop-list" (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="strategicGoalsList">
                <ng-container *ngIf="strategicGoalsList.length > 0; else emptyStrategicGoalsList">
                  <div *ngFor="let strategicGoals of strategicGoalsList" [cdkDragData]="strategicGoalsList" cdkDragLockAxis="y"
                    cdkDragBoundary=".drop-list" cdkDrag (click)="strategicGoalsSelected(strategicGoalsList)" [ngClass]="{
                    'selected-drop-box': checkCurrentStrategicGoals(strategicGoalsList),
                    'drop-box': !checkCurrentStrategicGoals(strategicGoalsList)
                    }">
                    <div class="drop-handle" cdkDragHandle>
                      <mat-icon mat-list-icon>drag_indicator</mat-icon>
                    </div>
                    
                      
                      <div fxLayout="column"  fxLayoutGap="10px" style="padding:5px;" ><!--style="width: 50%"-->
                      
                        <mat-form-field appearance="fill" >
                          <mat-label>Method</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.method" required />
                        </mat-form-field>
                        <mat-form-field appearance="fill" fxFlex="70">
                          <mat-label>Ownership</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.owner" required />
                        </mat-form-field>
        
                        <mat-form-field appearance="fill" fxFlex="70">
                          <mat-label>Participants</mat-label>
                          <input matInput [(ngModel)]="strategicGoals.participants" required />
                        </mat-form-field>
        
                        <div fxLayout="column" fxLayoutGap="10px" style="width: 100%;justify-content:center;padding:5px"><!--style="width: 50%;justify-content:center"-->
                          <mat-card-title>Objectives

                          <button style="margin-left: 10px; margin-bottom: 10px" mat-mini-fab class="attribute-button" color="primary"
                          (click)="addEmptyStrategicGoals()">
                          <mat-icon>add</mat-icon>
                          </button>
                        </mat-card-title>
                          <!--<mat-tab-group>-->
                          <mat-tab-group >  
          
                            <mat-tab label="Business/Company Objectives">
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Purpose" style="height: 100px;">Business/Company Objectives</mat-label>
                                <textarea matInput [(ngModel)]="strategicGoals.business_company_objectives"></textarea>
                              </mat-form-field>
                            </mat-tab>
          
                            <mat-tab label="Organizational Objectives">
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label  label="Functionality">Organizational Objectives</mat-label>
                                <textarea matInput [(ngModel)]="strategicGoals.organizational_objectives"></textarea>
                              </mat-form-field>
                            </mat-tab>
          
                            <mat-tab label="Process Objectives">
                              <mat-form-field class="description-field" appearance="fill">
                                <mat-label label="Process Objectives">Design Diagrams</mat-label>
                                <textarea matInput [(ngModel)]="strategicGoals.process_objectives"></textarea>
                              </mat-form-field>
                            </mat-tab>

                            

                          </mat-tab-group>

                            <button mat-button (click)="deleteStrategicGoals(strategicGoals)">
                              <mat-icon mat-list-icon color="warn">delete</mat-icon><!--missing deletion mechanism-->
                            </button>

                        </div>

                      </div>
                     
                  </div>

                </ng-container>
          </div>
          <ng-template #emptyStrategicGoalsList>
            <p style="color: grey; margin-left: 10px; margin-right: 10px"><i>No existing Strategic Goals. Please create a Strategic Goals
                by adding one using the green add button (+) </i></p>
          </ng-template>
        
        <!--<img  class="images" src="assets/Phase1-UI1.jpg"/>-->
        

