.stepper-button-row {
  margin: 25px 0;
}

.attribute-option-container {
  margin-top: 16px;
}

.mat-radio-group{
  margin-top: 4px;
}

.help-icon{
  margin-left: 6px;
  color: #9E9E9E;
}
/* Example styles for icons */
.include-icon {
  color: green; /* Set the color for "Include" */
}

.neutral-icon {
  color: skyblue; /* Set the color for "Neutral" */
}

.exclude-icon {
  color: red; /* Set the color for "Exclude" */
}
.icon-with-space {
  margin-right: 30px; /* Adjust the margin-right value to control the space between icons */
}
.radio-with-space {
  margin-right: 20px; /* Adjust the margin-right value to control the space between radios */
}
.icon-with-space-low {
  margin-right: 10px; /* Adjust the margin-right value to control the space between icons */
}





