<div *ngIf='this.isDataLoading' class='loading-container' fxLayout='column' fxLayoutAlign='center center'>
  <mat-spinner color='accent'></mat-spinner>
</div>
<div *ngIf='!this.isDataLoading' fxLayout='column' fxLayoutAlign='start center'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' [routerLink]="!scenarioBased ? ['/phase/2/recommendation'] : ['/phase/2']">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{getTitle()}}</span>
  </h1>
<ng-container *ngIf="configurationEnabled">
  <p class='max-width-800'>
    Here you have three possibilities:
  </p>
  <p class='max-width-800'>
    "Include" - the approach must have this property
    <br>
    "Neutral" - the approach can have this property
    <br>
    "Exclude" - the approach does not have this property
  </p>
</ng-container>

<ng-container *ngIf="!configurationEnabled">
  <div style="min-height: 800px" fxLayout='column' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <p class="max-width-800">
      Here you have the possibility to apply the inputs from the scenarios for the qualities for the configuration.
      You can see your configuration based on the scenarios and additional inputs in the sidebar on the right.
    </p>
    <p class="max-width-800">
      You have the option to generate the recommendations based on the input from the scenarios and the current configuration,
      or you can further customize or clear the configuration. In addition to the qualities, system properties can be added.
      There is also the
      possibility to further configure the input preferences, the process preferences, the output preferences and the
      usability preferences.
      </p>
      <p class='max-width-800' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='8px'>
        <mat-icon color='accent'>info</mat-icon>
        <strong>Important Note:</strong>
      <p class='max-width-800' fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='8px'>
        <span>The selected importance of the scenarios have an influence on the evaluation of the results. <br />
          In detail, this means that all selected quality attributes of the scenarios receive a weighting. The mapping for
          this
          is: Importance <strong>A</strong> implies a weighting of 3, <strong>B</strong> implies a weighting of 2, and
          <strong>C</strong> implies a weighting of 1.</span>
      </p>
      <div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign="center">
      <button mat-flat-button color='accent' [routerLink]="['/phase/1']">
        <mat-icon>move_up</mat-icon>
        <span> Edit scenarios</span>
      </button>
      <button mat-flat-button color='primary' (click)="configurationEnabled = true">
        <mat-icon>build</mat-icon>
        <span>Configure filters</span>
      </button>
      <button mat-flat-button color='primary' (click)='onSearchRecommendation()'>
        <mat-icon>search</mat-icon>
        <span>Search without further configuration</span>
      </button>

    </div>
  </div>
</ng-container>

  <div style='width: 100%' *ngIf="configurationEnabled">
    <!-- <mat-step> -->
      <!-- <ng-template matStepLabel>Select quality preferences</ng-template> -->
      <div class='stepper-button-row' fxLayout='row' fxLayoutGap='8px' fxLayoutAlign="center">
        <!-- <button mat-flat-button matStepperNext color='accent'>
          <span>Next</span>
          <mat-icon>arrow_forward</mat-icon>
        </button> -->
        <button mat-raised-button color='accent' (click)='accordion.openAll()'>
          <mat-icon>unfold_more</mat-icon>
          <span>Expand All</span>
        </button>
        <button mat-raised-button color='accent' (click)='accordion.closeAll()'>
          <mat-icon>unfold_less</mat-icon>
          <span>Collapse All</span>
        </button>
        <button mat-flat-button color='primary' (click)='onSearchRecommendation()'>
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-button color='warn' (click)='resetConfiguration()'>
          <span>Reset Configuration </span>
          <mat-icon>restart_alt</mat-icon>
        </button>

      </div>

      <mat-accordion multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Select quality preferences</h2>
            </mat-panel-title>
            <mat-panel-description>
              Select quality preferences for the refactoring approach.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-container *ngIf="!scenarioBased">
            <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
              <div fxFlex='50' fxLayout='column'>
                <h2>Quality attributes</h2>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <i>To optimize</i>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <div fxFlex="50" fxLayout="row">
                      <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                        <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon>
                      </span>
                    </div>                    
                  </div>
                </div>
                <div
                  *ngFor='let quality of attributeOptionsService.getQualitiesByCategory(QualityCategories.Attribute), let i = index'
                  class='attribute-option-container'>
                  <div fxLayout='row'>
                    <div fxFlex='50' fxLayout='column'>
                      <span fxLayoutAlign='start center'>
                        {{quality.name}}
                        <mat-icon class='help-icon' [matTooltip]='quality.description ? quality.description : noDescriptionText'
                          [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                      </span>
                    </div>
                    <div fxFlex='50' fxLayout='column'>
                      <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                        [(ngModel)]='recommendationService.qualityAttributeInformation[i].recommendationSuitability'>
                          <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                            <mat-radio-button class="radio-with-space"
                            [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                            <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                              {{ getIconName(recommendationSuitability) }}
                            </mat-icon> -->
                          </mat-radio-button>
                          </div>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div fxFlex='50' fxLayout='column'>
                <h2>Quality Subattributes</h2>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <i>To optimize</i>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <div fxFlex="50" fxLayout="row">
                      <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                        <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon>
                      </span>
                    </div>                    
                  </div>
                </div>
                <div *ngFor='let qualitySublevel of attributeOptionsService.qualitySublevels.value, let i = index'
                  class='attribute-option-container'>
                  <div fxLayout='row'>
                    <div fxFlex='50' fxLayout='column'>
                      <span fxLayoutAlign='start center'>
                        {{qualitySublevel.name}} ({{qualitySublevel.qualityName}})
                        <mat-icon class='help-icon'
                          [matTooltip]='qualitySublevel.description ? qualitySublevel.description : noDescriptionText'
                          [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                      </span>
                    </div>
                    <div fxFlex='50' fxLayout='column'>
                      <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                        [(ngModel)]='recommendationService.qualitySublevelInformation[i].recommendationSuitability'>
                        <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                          <mat-radio-button class="radio-with-space"
                          [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                          <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                            {{ getIconName(recommendationSuitability) }}
                          </mat-icon> -->
                        </mat-radio-button>
                        </div>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
            <div fxFlex='50' fxLayout='column'>
              <h2>System Properties</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i>To consider</i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div
                *ngFor='let quality of attributeOptionsService.getQualitiesByCategory(QualityCategories.SystemProperty), let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{quality.name}}
                      <mat-icon class='help-icon' [matTooltip]='quality.description ? quality.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                        [(ngModel)]='recommendationService.qualitySystemPropertyInformation[i].recommendationSuitability'>
                        <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                          <mat-radio-button class="radio-with-space"
                          [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                          <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                            {{ getIconName(recommendationSuitability) }}
                          </mat-icon> -->
                        </mat-radio-button>
                        </div>
                      </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Select input preferences</h2>
            </mat-panel-title>
            <mat-panel-description>
              Select input preferences for the refactoring approach.
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
            <div fxFlex='50' fxLayout='column'>
              <h2>Domain artifacts</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let domainArtifact of attributeOptionsService.domainArtifacts.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{domainArtifact.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='domainArtifact.description ? domainArtifact.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.domainArtifactInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex='50' fxLayout='column'>
              <h2>Runtime artifacts</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let runtimeArtifact of attributeOptionsService.runtimeArtifacts.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{runtimeArtifact.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='runtimeArtifact.description ? runtimeArtifact.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.runtimeArtifactInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
            <div fxFlex='50' fxLayout='column'>
              <h2>Model artifacts</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let modelArtifact of attributeOptionsService.modelArtifacts.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{modelArtifact.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='modelArtifact.description ? modelArtifact.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.modelArtifactInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex='50' fxLayout='column'>
              <h2>Executables</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let executable of attributeOptionsService.executables.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{executable.name}} ({{executable.language}})
                      <mat-icon class='help-icon'
                        [matTooltip]='executable.description ? executable.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.executableInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Select process preferences</h2>
            </mat-panel-title>
            <mat-panel-description>
              Select process preferences for the refactoring approach.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>

            <div fxFlex='50' fxLayout='column'>
              <h2>Directions</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let direction of attributeOptionsService.directions.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{direction.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='direction.description ? direction.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.directionInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex='50' fxLayout='column'>
              <h2>Levels of automation</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let automationLevel of attributeOptionsService.automationLevels.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{automationLevel.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='automationLevel.description ? automationLevel.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.automationLevelInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
            
            <div fxFlex='50' fxLayout='column'>
              <h2>Analysis types</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let analysisType of attributeOptionsService.analysisTypes.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{analysisType.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='analysisType.description ? analysisType.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.analysisTypeInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex='50' fxLayout='column'>
              <h2>Techniques</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let technique of attributeOptionsService.techniques.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{technique.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='technique.description ? technique.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.techniqueInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>

            <div fxFlex='50' fxLayout='column'>
              <h2>Process Strategy</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let strategy of attributeOptionsService.processStrategies.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{strategy.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='strategy.description ? strategy.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.processStrategyInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex='50' fxLayout='column'>
              <h2>Atomar Unit</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let atomerUnit of attributeOptionsService.atomarUnits.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{atomerUnit.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='atomerUnit.description ? atomerUnit.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.atomarUnitInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Select output preferences</h2>
            </mat-panel-title>
            <mat-panel-description>
              Select output preferences for the refactoring approach.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
            <div fxFlex='50' fxLayout='column'>
              <h2>Representation</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let representation of attributeOptionsService.representations.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{representation.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='representation.description ? representation.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.representationInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h2>Select usability preferences</h2>
            </mat-panel-title>
            <mat-panel-description>
              Select usability preferences for the refactoring approach.
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>

            <div fxFlex='50' fxLayout='column'>
              <h2>Validation methods</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let validationMethod of attributeOptionsService.validationMethods.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{validationMethod.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='validationMethod.description ? validationMethod.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.validationMethodInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex='50' fxLayout='column'>
              <h2>Accuracy/Precision of service identification approaches</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let accuracyPrecision of attributeOptionsService.accuracyPrecisions.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{accuracyPrecision.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='accuracyPrecision.description ? accuracyPrecision.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.accuracyPrecisionInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div style='margin-bottom: 20px;' fxLayout='row' fxLayoutGap='30px'>
            <div fxFlex='50' fxLayout='column'>
              <h2>Tool supports</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let toolSupport of attributeOptionsService.toolSupports.value, let i = index'>
                <ng-container class='attribute-option-container' *ngIf="toolSupport.name === 'No tool support'">
                  <div fxLayout='row'>
                    <div fxFlex='50' fxLayout='column'>
                      <span fxLayoutAlign='start center'>
                        {{toolSupport.name}}
                        <mat-icon class='help-icon'
                          [matTooltip]='toolSupport.description ? toolSupport.description : noDescriptionText'
                          [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                      </span>
                    </div>
                    <div fxFlex='50' fxLayout='column'>
                      <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                        [(ngModel)]='recommendationService.toolSupportInformation[i].recommendationSuitability'>
                        <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                          <mat-radio-button class="radio-with-space"
                          [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                          <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                            {{ getIconName(recommendationSuitability) }}
                          </mat-icon> -->
                          </mat-radio-button>
                        </div>
                      </mat-radio-group>
                    </div>
                  </div>
               </ng-container>
              </div>
            </div>
            <div fxFlex='50' fxLayout='column'>
              <h2>Tool types</h2>
              <div fxLayout='row'>
                <div fxFlex='50' fxLayout='column'>
                  <i></i>
                </div>
                <div fxFlex='50' fxLayout='column'>
                  <div fxFlex="50" fxLayout="row">
                    <span *ngFor="let recommendationSuitability of recommendationSuitabilityOptions">
                      <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                        {{ getIconName(recommendationSuitability) }}
                      </mat-icon>
                    </span>
                  </div>                    
                </div>
              </div>
              <div *ngFor='let toolType of attributeOptionsService.toolTypes.value, let i = index'
                class='attribute-option-container'>
                <div fxLayout='row'>
                  <div fxFlex='50' fxLayout='column'>
                    <span fxLayoutAlign='start center'>
                      {{toolType.name}}
                      <mat-icon class='help-icon'
                        [matTooltip]='toolType.description ? toolType.description : noDescriptionText'
                        [matTooltipShowDelay]='TOOLTIP_SHOW_DELAY' [matTooltipHideDelay]='TOOLTIP_HIDE_DELAY'>help</mat-icon>
                    </span>
                  </div>
                  <div fxFlex='50' fxLayout='column'>
                    <mat-radio-group fxLayout='row' fxLayoutGap='8px'
                      [(ngModel)]='recommendationService.toolTypeInformation[i].recommendationSuitability'>
                      <div *ngFor='let recommendationSuitability of recommendationSuitabilityOptions'>
                        <mat-radio-button class="radio-with-space"
                        [value]='recommendationSuitability' [color]='getRadioButtonColor(recommendationSuitability)'>
                        <!-- <mat-icon [ngClass]="getIconClass(recommendationSuitability)" class="icon-with-space">
                          {{ getIconName(recommendationSuitability) }}
                        </mat-icon> -->
                        </mat-radio-button>
                      </div>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    <!-- </mat-step> -->
    </div>
</div>