<div>
  <div mat-dialog-title>
    <h3>{{data.title}}</h3>
  </div>
  <div mat-dialog-content>
    <mat-selection-list #attributes [(ngModel)]='selectedAttributes'>
      <mat-list-option *ngFor='let attribute of data.currentAttributeList' [value]='attribute'>
        {{data.getDisplayName(attribute)}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color='primary'
            [disabled]='attributes.selectedOptions.selected.length < 1'
            (click)='onConfirmClicked()'>{{data.confirmButtonText}}</button>
    <button mat-raised-button color='warn'
            (click)='onCancelClicked()'>{{data.cancelButtonText}}</button>
  </div>
</div>
