<div fxLayout='column' fxLayoutAlign='start center'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/home'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Phase 1</span>
    <button mat-icon-button color="basic" (click)="showInfo()">
      <mat-icon>info</mat-icon>
    </button>
  </h1>

  <ng-container *ngIf="showInfoBool">
  <p class='max-width-800'>
    In the first phase of a migration, this tool supports architects in setting strategic goals, identifying driving
    forces for the migration and subsequently identifying measurable quality attributes. To do so, the tool collects
    basic system specifications and guides through an architecture review / assessment (e.g. based on ATAM or SAAM) that
    can either be scenario-based or solely rely on quality attributes.
  </p>
  <p class='max-width-800'>
    Therein, each of the two architectural styles "monolith" and "microservices" will be rated according to their
    suitability for each scenario or quality attribute. As a result, the tool will present a comparison between the two
    styles based on the sum of their ratings. The architect can now make a grounded decision pro/contra a migration to
    microservices and has the metrics at hand that help to measure the migration's success. 2
  </p>
  </ng-container>
</div>

<mat-stepper #stepper>
  <mat-step label="Project Description">
    <app-project-description></app-project-description>
  </mat-step>
  <mat-step label="Strategic Goals">
    <app-strategic-goals></app-strategic-goals>
  </mat-step>
  <mat-step  label="Quality Attributes">
    <app-quality-attributes></app-quality-attributes>
  </mat-step>
  <mat-step  label="Assessment">
    <app-assessment></app-assessment>
  </mat-step>
  <mat-step  label="Summary">
    <app-summary></app-summary>
  </mat-step>
</mat-stepper>