<div fxLayout='column' fxLayoutAlign='start center'>
  <h1 fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='12px'>
    <button mat-mini-fab color='warn' routerLink='/home'>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Phase 1</span>
    <button mat-icon-button color="basic" (click)="showInfo()">
      <mat-icon>info</mat-icon>
    </button>
  </h1>

  <ng-container *ngIf="showInfoBool">
  <p class='max-width-800'>
    In the first phase of a migration, the Architecture Refactoring Helper supports architects in defining strategic, 
    goals which represent the driving forces for a migration. Afterwards, measurable quality goals are identified.<br />
    To do so, we collect results of a scenario-based architecture evaluation like, e.g., ATAM or SAAM.
    Therein, each of the collected scenarios will be assigned a preferred architectural style, monolith or microservices,
	according to their suitability for the scenarios fulfillment. As a result, we present a comparison between the two
    architectural styles based on the accumulated scenario assessments. The architect can now make a grounded decision 
	pro/contra a migration to microservices based on scenarios and associated quality goals. The quality goals, moreover, 
	provide a means to track and measure the migration's success.
  </p>
  </ng-container>
</div>

<mat-stepper #stepper>
  <mat-step label="Project Description">
    <app-project-description></app-project-description>
  </mat-step>
  <mat-step label="Strategic Goals">
    <app-strategic-goals></app-strategic-goals>
  </mat-step>
  <mat-step  label="Quality Attributes">
    <app-quality-attributes></app-quality-attributes>
  </mat-step>
  <mat-step  label="Assessment">
    <app-assessment></app-assessment>
  </mat-step>
  <mat-step  label="Summary">
    <app-summary></app-summary>
  </mat-step>
</mat-stepper>